
.header-container {
    background-color: #1f1f1f;
    padding: 20px;
    height: 100vh;


}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1040px;
    height: 65px;
    margin-top: 70px;
    margin-left: 120px;
}

nav .logo img {
    width: 100px;
}

.nav-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-list li {
    margin: 0 15px;
    gap: 10px;
}

.nav-list li a, .nav-list li .btn-primary {
    text-decoration: none;
    color:  #FFFFFF;
    font-size: 18px;
}

.btn-primary {
    background-color: #f5a623;
    border: none;
    color:  #FFFFFF;
    
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}


