.header-container {
    /* background-color: #1f1f1f; */
    padding: 20px;
    height: 165vh;
    width: 100%;

}


/* Flexbox container for text and image */
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 0 120px;
}

/* Styling for the text container */
.text-container {
    max-width: 60%;
}

/* Styling for the image container */
.image-container {
    max-width:10%;
}

.image-container img {
    width: 100%;
    border-radius: 50%; 
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1040px;
    height: 65px;
    margin-top: 70px;
    margin-left: 130px;
}

nav .logo img {
    width: 100px;
}

.nav-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-list li {
    margin: 0 15px;
    gap: 10px;
}

.nav-list li a, .nav-list li .btn-primary {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}
.logo{
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;
    color:  #FFFFFF;
    
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}
#city{
    color: var(--primary-color);
}


.text-title{
    font-weight: 800;
    /* font-size: 30px; */
    gap: 20px;
    
}
.text-discription{
    margin-top: 10px;
    width: 520px;
    height: 40px;
    color: var(--text-color2);
}

#city{
    color: var(--primary-color);
}
.skills{
    margin: 20px 0;
    font-size: 30px;
    font-weight: 300;
    gap: 20px;
    font-size: 24px;
}
.skills-img{
    width: 34px;
    height: 34px;
    rotate:3.97 deg;;
   
}
.buttons{
    background-color: #5d5b5b;
    border: 2px solid #C9C9C9;
    border-radius: 40px;
    width: 300px;
    height: 50px;
    padding: 5px;
    display: flex;
    gap: 15px;
}
.buttons a{
   text-decoration: none;
}

.icon-button {
    background-color: var(--primary-color);
    width: 120px;
    height: 30px;
    padding:10px 20px;
    gap: 0px;
    border-radius: 40px ;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btn-hire {
    color: #fff;
    background-color: none;
    padding: 10px 20px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons {
    margin-top: 20px;
    display: flex; 
    width: 200px;
    gap: 10px;
}
.social-icons a {
    text-decoration: none;
    
}

.social-icons img {
    width: 24px;
    height: 24px; 
    
}



.text{
    width: 540px;
    height: 105px;
}
.text-discription{
    color: var(--text-color);
}

.about-me{
    width: 1000px;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 300px 0px 200px 200px;
}
   /* Main section started */


h4 {
   font-style: italic;
   font-weight: 600;
   color: var(--text-color);
}

.experience {
    padding: 40px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(270.16deg, rgba(255, 177, 71, 0.1) 5.74%, rgba(255, 108, 99, 0.1) 50.64%, rgba(184, 106, 223, 0.1) 92.05%);
    background-color: transparent;
}
.experience h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.experience h3 {
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}

.experience p {
    margin-bottom: 30px;
}

.experience ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.experience li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
}
span .comapny{
    display: flex;
}

.experience li:last-child {
    border-bottom: none;
}

.experience span {
    font-size: 14px;
    color:var(--text-color);
    margin-bottom: 10px;
    display: block;
}

.experience h4  {
    font-size: 16px;
  
    color: var(--text-color);
}


.experience p {
    font-size: 14px;
    color:var(--text-color);
    
} 
.story{
    width: 460px;
    height: 280px;
    
}
.timeline{
width: 580px;
height: 390px;
gap: 40px;
margin-top: 100px;
background-color: transparent;
}

.comapny{
    font-size: 1px;
    font-weight: normal;
    margin-right: 20px;
}
.timeline ul {
    list-style-type: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

.timeline li {
    margin-bottom: 20px; /* Add some space between list items */
}

.timeline li > div {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Space between span and h4 */
}

.timeline li > div span,
.timeline li > div h4 {
    margin: 0; /* Remove default margin */
}

.timeline li p {
    margin: 5px 0 0 0; /* Add some space above p */
}

/* For the flex container wrapping span and h4 */
.timeline li > div {
    display: flex;
    align-items: center;
}

.timeline li {
    display: flex;
    flex-direction: column; /* Stack items vertically */
}

.timeline li > div,
.timeline li p {
    margin: 5px 0; /* Add margin for spacing */
}
p{
    font-size: 10px;
}
.timeline li > div span,
.timeline li > div p{
    font-size: 18px;
    font-family: 800;
}
.award-div{
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.award-title {
  font-size: 40px;
  font-weight: 800;
  font-family: "Rubik", sans-serif;
  Line-height : 47.4px;
  text-align: center;
  margin-bottom: 10px;
}
.award-discription{
    color:var(--text-color2);
    font-size: 18px;
    width: 541px;
    height: 42px;
    font-weight: 400;
    line-height: 21.33px;
    text-align: center;
    
}
.achivements{
    width: 1040px;
    height: 200px;
   display: flex;
   background-color: #000000;
    margin: 40px 180px;
    padding-top: 70px ;
}
.achiv-content{
 
    width: 920px;
    height: 130px;
    justify-content: center ;
    align-items: center;
    text-align: left;
    padding-left: 40px;
   
}

.work{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color2) ;
    width: 600px;
}
.award-topic{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
}
.sector-name {
    width: 180px;
    height: 26px;
}
.prot-div{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
.prot-title {
    /* width: 290px; */
    height: 48px;
    font-family: "Rubik", sans-serif;
    font-weight: 800;
    size: 40px;
    line-height: 47.4px;
    text-align: center;
    margin-bottom: 5px;
  }
  .prot-discription{
     color: var(--text-color2);
     font-size: 18px;
    width: 541px;
    height: 42px;
    font-weight: 400;
    line-height: 21.33px;
    text-align: center;
      
  }

  .sector-btn {
    margin-top: 80px;
    width: 760px;
    margin: 40px auto;
    height: 55px; 
    border: 0.4px;
    padding: 10px 20px 10px 20px;
   
  }
 .toggel{
    display: flex;
    justify-content: center;
    gap: 10px;
 }
 #ui{
    padding: 10px 20px 10px 20px;
    width: 105px;
    height: 55px;
    background-color: #000000;
    border: 0.4px;
 }
#graphics{
    padding: 10px 20px 10px 20px;
    width: 220px;
    height: 55px;
    background-color: #000000;
    border: 0.4px;
}
 #app{
    width: 180px;
    height: 55px;
    padding: 10px 20px 10px 20px;
    background-color: #000000;
    border: 0.4px;
 }
 .protfolio-content{
    width: 1040px;
    justify-content: space-between;
    height: 340px;
    display: flex;
    margin: 60px auto;

 }
 .script-content{
    margin-top: 20px;
 }
 .title-one{
    font-style: italic;
    font-weight: 600;
    margin-bottom: 30px;
 }
 .title-two{
    margin-top: 20px;
    margin-bottom: 10px;
 }

 .script-discription{
    color: var(--text-color2);
    width: 560px;
    /* height: 150px; */
    font-size: 18px;
    font-weight: 400;
    line-height: 21.33px;
    font-family: "Rubik", sans-serif;
   margin-bottom: 20px;
 }

